# Configuración de Entorno Node.js en Hostinger para NOTIGAS
PORT=3000
ADMIN_PASS=NOTIGAS_ADMIN_2026
GOOGLE_ADSENSE_PUB_ID=ca-pub-XXXXXXXXXXXXXX
SUPABASE_URL=https://yxzzfqyehllogzzhdtmc.supabase.co
SUPABASE_ANON_KEY=sb_publishable_wWVQ59Rejod5Oc1X4s_eeQ_ONbXzyi2
